astroid==2.2.5
Click==7.0
coloredlogs==10.0
entrypoints==0.3
flake8==3.7.8
Flask==2.3.2
Flask-SocketIO==4.2.1
Flask-Sockets==0.2.1
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
humanfriendly==4.18
isort==4.3.21
itsdangerous==0.24
Jinja2==2.11.3
lazy-object-proxy==1.4.2
MarkupSafe==0.23
mccabe==0.6.1
pycodestyle==2.5.0
pyflakes==2.1.1
pylint==2.3.1
python-engineio==3.9.3
python-socketio==4.3.1
six==1.12.0
typed-ast==1.4.0
Werkzeug==2.2.3
wrapt==1.11.2
